@* dashboard Template File *@
@(privilege: Privilege)
<div class="row">
	@for(mt<-privilege.allowedMonitorTypes){
		<div class="col-lg-4">
			<div class="ibox float-e-margins">
               <div class="ibox-title">
               	<h5>@MonitorType.map(mt).desp</h5>
                       <div class="ibox-tools">
                           <a class="collapse-link">
                               <i class="fa fa-chevron-up"></i>
                           </a>                                                     
                           <a class="close-link">
                               <i class="fa fa-times"></i>
                           </a>
                       </div>
                   </div>
               <div class="ibox-content">
			   <div id="realtimChart_@mt"></div>                        
           	   </div>
           </div>
       </div>		
	}
</div>
 
<script>
function refreshRealtimeChart() {
	@for(mt<-privilege.allowedMonitorTypes){
		getRealtimChart('#realtimChart_@mt', "@mt");
	}
}

var statusIconUrl = [
	'assets/images/normal.png',
	'assets/images/calbration.png',
	'assets/images/repair.png',
	'assets/images/maintance.png',
	'assets/images/warn.png'
];

</script>
<script>
function getRandomInt(min, max) {
  return Math.floor(Math.random() * (max - min)) + min;
}


	function getRealtimChart(id, monitorType) {
		$.ajax({
			url : "/JSON/realtimeHighchart/" + monitorType,
			data : "",
			contentType : "application/json; charset=utf-8",
			type : "GET",
			dataType : "json",
			success : function(result) {
				result.colors = [ '#7CB5EC', '#434348', '#90ED7D', '#F7A35C',
						'#8085E9', '#F15C80', '#E4D354', '#2B908F', '#FB9FA8',
						'#91E8E1', '#7CB5EC', '#80C535', '#969696' ];
				result.tooltip = {
					valueDecimals : 2
				};
				result.legend = {
					enabled : false
				};
				result.title = {
					text : null
				};
				result.credits = {
					enabled : false,
					href : 'http://www.wecc.com.tw/'
				};
				
				result.navigation={
		            buttonOptions: {
		                enabled: false
		            }
		        };
				result.xAxis.type = "datetime";
				result.xAxis.dateTimeLabelFormats = {
						millisecond: '%b%e日 %H:%M',
		            };
					
				result.chart.height = 200;
				
				$(id).highcharts(result);
			},
			error : function(xhr, status, errorThrown) {
				console.log("錯誤訊息:" + status + "-" + errorThrown);
			},

			complete : function(xhr, status) {

			}
		});
	}


	function refreshInfo() {
		refreshRealtimeChart();		
	}

	function initRealtime() {
		refreshInfo();
		//myInterval = setInterval(refreshInfo, 60 * 1000);
	}

	$(document).ready(initRealtime());
</script>